{% extends "menu/layout.html" %}
{% block content %}
<h1 class="text-center">Documentos Firmados</h1>
{% with mensaje=get_flashed_messages() %}
{% if mensaje %}
{% for text in mensaje%}
<div class="alert alert-primary" role="alert">
  <p class="text-center h3">{{text}}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% if documentos!=() %}
<div class="container-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in documentos %}
      <tr>
        <th scope="row">{{doc[0]}}</th>
        <td>{{doc[1]}}</td>
        <td>{{doc[2]}}</td>
        <td>{{doc[4]}}</td>
        <td>
          <div class="row">
            <form action="/detalle-firmado" method="GET" class="col-sm">
              <input name="documento" type="hidden" value={{doc[0]}}>
              <button type="submit" class="btn btn-success">Ver Detalles</button>
            </form>
            <form action="/pdf-firmado" method="GET" class="col-sm">
              <input name="firma" type="hidden" value=1>
              <input name="id" type="hidden" value={{doc[0]}}>
              <button type="submit" class="btn btn-primary">Ver PDF</button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}